<!DOCTYPE html>
{% extends "administrator/index.html" %}
      {% block tmp %}
<br>
<form method="post" action="" enctype="multipart">
 <div class="col d-flex justify-content-center">
      <div class="card bg-light" style="width: 70rem;">
  <div class="card-body">
    <h5 class="card-title"><b>UPDATE MOBILE</b></h5>
    <p class="card-text">
                {%csrf_token%}
                {{form.as_p}}
    <input type="submit" value="Update">
    </p>

  </div>
</div>
         </div>
    </form>
                    {% endblock %}
